@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Montserrat:ital@0;1&display=swap');

:root {
    --title-font: 'Montserrat', sans-serif;
    --h1-font-size: 46px;
    --h2-font-size: 34px;
    --h3-font-size: 28px;
    --black: #1e1e1eff;
    --grey: #9b9b9bff;
    --pink: #ffe3e3ff;
    --text-font: 'Cardo', serif;
    --text-font-size: 14px;
}

.container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    display: flex;
    margin-top: 100px;
    margin-bottom: 130px;
    justify-content: flex-end;
}

.nav-list {
    list-style-type: none;
    display: flex;
}

.nav-item {
    margin-left: 100px;
}

.nav-link {
    text-decoration: none;
    font-family: var(--title-font);
    font-size: 11px;
    color: var(--black);
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin: 130px 0 90px 0;
}

.button-container--centered {
    display: flex;
    justify-content: center;
    margin: 10px 0 -90px 0;
}

.button {
    box-sizing: border-box;
    background: none;
    border-radius: 50px;
    height: 60px;
    line-height: 18px;
    width: 300px;
    font-family: var(--title-font);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border: 1px solid var(--grey);
    cursor: pointer;
}

.title {
    font-family: var(--title-font);
    font-size: var(--h1-font-size);
    color: var(--black);
    line-height: 57px;
    width: 780px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.details-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 0;
}

.details-item {
    margin-left: 20px;
    font-family: var(--title-font);
    font-size: var(--text-font-size);
    line-height: 18px;
    color: var(--grey)
}

.details-item + .details-item::before {
    content: "•";
    margin-right: 20px;
}

.details-span {
    color: var(--black);
    font-weight: bold;
}

.edit-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    margin-bottom: 20px;
}

.edit-button {
    background: none;
    border: none;
    font-family: var(--title-font);
    font-size: var(--text-font-size);
    font-weight: bold;
    line-height: 18px;
    cursor: pointer;
}

.article {
    margin-bottom: 100px;
}

.image {
    height: 720px;
}

.text {
    font-family: var(--text-font);
    font-size: 16px;
    line-height: 30px;
    color: var(--black);
    width: 780px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    margin: 80px auto 0 auto;
}

.footer {
    display: flex;
    margin: 35px 0 100px 0;
    justify-content: space-between;
}

.footer-button {
    background: none;
    font-family: var(--title-font);
    font-size: var(--h2-font-size);
    line-height: 42px;
    font-weight: bold;
    color: var(--black);
    border: none;
    cursor: pointer;
    padding: 0;
}

.modal-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
}

.modal {
    background-color: #FFFFFFFF;
    width: 1000px;
    height: 750px;
    border: 1px solid var(--grey);
    box-shadow: 0, 0, 26px, 6px, black;
}

.modal-button-container {
    width: 850px;
    display: flex;
    justify-content: space-between;
    margin: 25px 75px 50px 75px;
}

.bg-pink {
    background-color: var(--pink);
}

.modal-title {
    margin-top: 50px;
    margin-bottom: 50px;
}

.form-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 25px;
}

.modal-form {
    box-sizing: border-box;
    border: 1px solid var(--grey);
    border-radius: 5px;
    width: 400px;
    height: 35px;
    padding-left: 10px;
    padding-right: 0;
    margin-bottom: 25px;
    font-family: var(--text-font);
    font-size: 18px;
    color: var(--grey);
    line-height: 25px;
}

.url-form {
    width: 850px;
}

.content-form {
    width: 850px;
    height: 275px;
    margin-bottom: 0;
    resize: none;
}

.modal-active {
    visibility: visible;
    opacity: 1;
}

.link {
    text-decoration: none;
}


.saying {
    font-family: var(--title-font);
    font-size: var(--h3-font-size);
    font-style: italic; /* too lazy to  */
    color: var(--black);
    line-height: 30px;
    box-sizing: border-box;
    padding-top: 105px;
    padding-bottom: 105px;
    background-color: var(--pink);
    margin: 75px 0 75px 0;
    text-align: center;
}